<div class="navbar">
    <img src="./assets/logo.png" alt="logo.png">
    <div class="navbar__buttons">
        <div class="button">
            <img class="button__icon-left" src="./assets/plus-icon.png" alt="plus-icon.png">
            <span class="button__text">UNESI SVOJ RECEPT</span>
        </div>
        <div class="button">
            <span class="button__text">Prijavi se</span>
            <img class="button__icon-right" src="./assets/arrow-right.png" alt="arrow-right.png">
        </div>
    </div>
</div>